USE [master]
GO
/****** Object:  Database [DB_Person]    Script Date: 27/09/2023 11:34:25 a. m. ******/
CREATE DATABASE [DB_Person]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Person', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\DB_Person.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Person_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\DB_Person_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Person].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Person]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/09/2023 11:34:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 27/09/2023 11:34:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 27/09/2023 11:34:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [uniqueidentifier] NOT NULL,
	[Cedula] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230927014612_Create_table', N'7.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230927032044_updateTable_person', N'7.0.5')
GO
INSERT [dbo].[AppUsers] ([Id], [Email], [Password]) VALUES (N'919e934b-0e98-4e06-a4b0-2edb43206ea4', N'jagudeloquejada@gmail.com', N'rfqSc7Q+UcwMtARx3yDDhtfvWNW3I17APXsfH/KLszc=')
GO
INSERT [dbo].[Person] ([Id], [Cedula], [Nombre], [Apellido], [Estado]) VALUES (N'1a2103cf-6d2f-4210-40ed-08dbbf6ace5f', N'1007543839', N'Nayelis', N'Julio', 1)
INSERT [dbo].[Person] ([Id], [Cedula], [Nombre], [Apellido], [Estado]) VALUES (N'fbf592b6-3f0d-4ce7-71dd-08dbbf6ca539', N'123456789', N'Miguel Angel', N'Preciado', 0)
INSERT [dbo].[Person] ([Id], [Cedula], [Nombre], [Apellido], [Estado]) VALUES (N'2f58fc2c-aaed-49d6-b9f6-47110c458d0c', N'1017273809', N'Jhon', N'Agudelo', 0)
GO
ALTER TABLE [dbo].[Person] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Estado]
GO
USE [master]
GO
